
@import './themes.scss';
@import './_dims';

:global {
  * {
    box-sizing: border-box;
  }

  textarea,
  input,
  input[type="text"], 
  input[type="password"], 
  input[type="submit"] {
    -webkit-appearance: none;
  }
}

@include themeProvider() using ($themeMap) {
  background: map-get($themeMap, 'backupBackgroundColor');
  background: map-get($themeMap, 'backgroundColor');
  color: map-get($themeMap, 'textColor');
  transition: all .1s ease-in-out;
  background-size: 100vw 30rem;
  background-repeat: no-repeat;

  a {
    @if map-get($themeMap, 'name') == 'karry' {
      text-decoration: underline;
    }
  }
}

.app {
  font-family: 'proxima-nova', 'Avenir', Arial, Helvetica, sans-serif;
  height: 100vh;
  
  .container {
    padding: 0;
    width: 100%;
    min-height: calc(100vh - #{$header-height});
    margin: auto;

    h1,h2,h3 {
      text-align: center;
    }
  }
}