@import './_dims';

.app {
  .container {
    min-height: calc(100vh - #{$header-height * 3});
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .main {
    padding: 1rem;
    width: 100%;
    margin: auto;
    h1,h2,h3 {
      text-align: center;
    }
  }
}