
@import './colors.scss';

:global {
  // body {
  //   background-color: themed('backgroundColor');
  //   color: themed('textColor');
  // }
}
.app {
  .main {
    padding: 1rem;
    width: 100%;
    margin: auto;
    h1,h2,h3 {
      text-align: center;
    }
  }
}