@import './themes';

@include themeProvider() using ($themeMap) {
  .dashboard {

    a.disabledLink {
      pointer-events: none;
      opacity: map-get($themeMap, 'deemphasizeOpacity');
    }

    .warningBox {
      color: map-get($themeMap, 'warningColor');
      font-weight: bold;
      margin: 2rem 0;
      
      a {
        text-decoration: underline;
        color: inherit;
      }
    }

    ul.dashboardMenu {
      list-style: none;
      display: flex;
      padding-left: 0;
      margin-bottom: 1rem;
  
      li {
        width: 50%;
        display: inline-block;
        border-bottom: 1px solid map-get($themeMap, 'textColor');
        
        a {
          color: map-get($themeMap, 'textColor');
          padding: 2rem;
          display: block;
          text-align: center;
          text-decoration: none;
          transition: background .5s ease-in-out;
          &:hover {
            background: map-get($themeMap, 'listItemHoverBGColor');
  
          };
        }
  
        &.active {
          font-weight: 500;
          border-bottom: 3px solid map-get($themeMap, 'textColor');
        }
      }
    }
  
    ul.breadCrumbs {
      list-style: none;
      padding: 1rem 0;
      text-align: left;
      
      a {
        color: map-get($themeMap, 'linkColor');
      }
      
      li {
        display: inline-block;
        svg {
          margin: 0 .5rem;
        }
      }
    }
  }
}
