@import './dims';
@import './themes';
@import './icons';

$drawer-width: 20rem;

:global {
  body {
    height: 100vh;
    touch-action: pan-x pan-y;

    &.fixed {
      overflow: hidden;
    }
  }

  * {
    touch-action: pan-x pan-y;
  }
}

@include themeProvider() using ($themeMap) {
  .main {
    text-align: center;
    min-height: 100vh;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .mainWpr {
      display: flex;
      height: 100%;

      &.drawerOpen {
        .forceGraph {
          right: $drawer-width;
        }

        .drawer {
          width: $drawer-width;
          
          .drawerInner {
            .closeWpr {
              display: block;
            }
          }
        }
      }

      .filterArea {
        position: fixed;
        bottom: 0;
        left: 0;
        padding: 1rem;
        z-index: 11;
        width: 20rem;
      }

      .forceGraph {
        transition: right .1s ease-in-out;
        position: absolute;
        overflow: hidden;
        top: 0;
        right: 0;
        z-index: 1;
        width: 100vw;
        height: 100vh;
      }

      .drawer {
        transition: width .1s ease-in-out;
        background: map-get($themeMap, 'listItemHoverBGColor');
        box-shadow: 10px 1px 20px 3px map-get($themeMap, 'inputPlaceholderTextColor');
        z-index: 11;
        position: fixed;
        top: 0;
        right: 0;
        width: 0;
        height: 100vh;
        display: flex;
        flex-direction: column;

        .drawerInner {
          padding: 1rem;
          padding-bottom: 4rem;
          overflow: hidden;
          overflow-y: scroll;
          height: 100%;
          
          .closeWpr {
            position: absolute;
            top: 0;
            right: 0;
            text-align: right;
            width: 100%;
            padding: 1rem;
            display: flex;
            justify-content: flex-end;
            display: none;
      
            @include cb-icons($themeMap);
      
            .closeIcon {
              color: map-get($themeMap, 'linkColor' );
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}
