@import './colors';
@import './themes';
@import './icons';
@import './mediaQueries';


@include themeProvider() using ($themeMap) {
  .posts {
    .actions {
      text-align: center;
      padding: 1rem 0;
      a {
        color: map-get($themeMap, 'linkColor');
        svg {
          margin-right: 0.5rem;
        }
      }

      .listSettings {
        @if map-get($themeMap, 'name') == 'karry' {
          padding-bottom: 1rem;
        }

        @include desktop {
          display: flex;

          .searchInput {
            width: 70%;
            padding-right: 1rem;
            
            @if map-get($themeMap, 'name') == 'karry' {
              padding-right: 0;
              margin-right: map-get($themeMap, 'inputMarginTop');
            }
          }

          .sortBy {
            width: 30%;
          }
        }

        .sortBy {
          display: flex;

          .sortByAttr {
            width: calc(100% - 6rem);
            padding-right: 1rem;

            @include mobile {
              width: calc(100% - 5rem);
            }

            @if map-get($themeMap, 'name') == 'karry' {
              padding-right: 0;
              margin-right: map-get($themeMap, 'inputMarginTop');
            }
          }

          .sortByDir {
            width: 6rem;
          }
        }
      }
    }

    ul.postList {
      padding-left: 0;

      li.postItem {
        a {
          display: block;
          text-decoration: none;
          color: inherit;
          width: 100%;
          padding: 0.5rem 0;
          display: flex;
          justify-content: center;
          transition: background-color 0.1s ease-in-out;
          cursor: pointer;

          &.disabled {
            opacity: 0.5;
            cursor: not-allowed;
            pointer-events: none;
          }

          &:hover {

            background-color: map-get($themeMap, 'listItemHoverBGColor');
            // .titleSection {
            //   .text {
            //     .actionIcon {
            //       opacity: 1;
            //     }
            //   }
            // }
          }

          @include cb-icons($themeMap);

          .titleSection {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            text-align: left;

            &.draft {
              opacity: map-get($themeMap, 'deemphasizeOpacity');
            }
            &.notEditable:not(.draft) {
              opacity: map-get($themeMap, 'lightDeemphasizeOpacity');
            }

            .text {
              padding-left: 0.3rem;
              width: calc(100% - 3rem);
              display: flex;
              align-items: center;

              .title {
                // pass
              }

              .badge {
                margin-left: 0.5rem;
              }

              

              .dot {
                border-radius: 50%;
                width: 0.5rem;
                background: #eee;
                height: 0.5rem;
                margin-top: -0.25rem;
                display: inline-block;
                margin-left: 0.5rem;
                vertical-align: middle;
              }
            }

            .keyImage {
              width: 3rem;
              height: 3rem;
              background-color: map-get($themeMap, 'inputBGColor');
              border-radius: 50%;
              vertical-align: middle;

              img {
                height: 100%;
                object-fit: cover;
                width: 100%;
                border-radius: 50%;
              }
            }
          }

          .by {
            text-align: right;
            font-size: 0.9rem;
            font-style: italic;

            &.skeleton {
              display: flex;
              justify-content: center;
              align-items: center;
            }

            .author {
              display: inline-block;

              .authorProfileImage {
                width: 1rem;
                height: 1rem;
                border-radius: 50%;
                margin: 0 0.25rem;
                vertical-align: middle;
              }
            }

            .date {
              display: block;
              color: #ccc;
            }
          }
        }
      }
    }
  }
}
