@import './sizes';

.tagCloudList {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: left;
  padding-bottom: $input-padding;
  opacity: .75;

  li {
    display: inline-block;
    padding-right: 1rem;
    
    .buttonLink {
      margin: 0;

      .word {
        font-weight: bold;
  
        &::before {
          content: '#';
        }
      }
  
      .count {
        padding-left: .5rem;
        font-size: .8em;
        font-style: italic;
      }
    }
  }
}